@import './normalize';
@import './mixins';
// @import 'swiper/css';
@import 'swiper/css/bundle';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

.section {
  width: 70%;
  margin: auto;
  max-width: 1000px;
}

.kinema-logo {
  a {
    text-transform: uppercase;
  }
}

.cat-title {
  margin: 1rem 0;
}
